__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Flask
instance/

# Env / OS
.env
.DS_Store

# Conda / venv
.conda/
venv/

# IDE
.idea/
.vscode/

# Apollo runtime data — created on first run, never commit
apollo.db
apollo_legacy.db
wsgi_snippet.py
static/targets/
